*{
    margin: 0px;
}

.container{
    background: hsla(219, 100%, 97%, 1);

    background: linear-gradient(180deg, hsla(219, 100%, 97%, 1) 0%, hsla(220, 100%, 94%, 1) 100%);

    background: -moz-linear-gradient(180deg, hsla(219, 100%, 97%, 1) 0%, hsla(220, 100%, 94%, 1) 100%);

    background: -webkit-linear-gradient(180deg, hsla(219, 100%, 97%, 1) 0%, hsla(220, 100%, 94%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EEF4FF", endColorstr="#DEE9FF", GradientType=1 );
    
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titolone{
    font-size: 44px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.sottotitolo{
    text-align: center;
    max-width: 69%;
}

h3{
    padding-top: 30px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    justify-content: center;
}

strong{
    font-weight: bold;
}

form{
    max-width: 69%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}

.fields{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}

.txt_form{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

input{
    border-radius: 15px;
    border: 1px solid black;
    padding: 17px 89.1px 18px 11.72px;
}

.input{
   display: flex;
   flex-direction: column;
   width: 30%;
}

label{
    padding-bottom: 10px;
    padding-top: 24px;
}

button{
    border-radius: 15px;
    border: 0px;
    background: #94E1A5;
    width: 30%;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}

.card{
    padding-top: 39px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
}

.img{
    background-color: #E36736;
    padding: 26px 18px 26px 18px;
    width: 142.38px;
    border-radius: 25px 0px 0px 25px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.stats{
    background-color: white;
    border-radius: 0px 25px 25px 0px;
}

.div_stats{
    display: flex;
    flex-direction: row;
}

.titolo_pk{
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    padding: 19px 71.19px 5px 21.25px;
}

.gen_pk{
    padding-bottom: 5px;
    padding-left: 21.25px;
}

.tipo_pk{
    padding-bottom: 5px;
    padding-left: 21.25px;
}

.div_stats{
    padding-left: 21.25px;
    padding-bottom: 19px;
}

.div_due{
    padding-left: 5.71px;
}

#section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}
